.containerPantallaEgreso{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 5px;
    margin-right: 5px;
    font-weight: bold;
    font-size: 15px;
}
.containerPantallaEgreso div{
    
    background-color: white;
    border: 1px solid black;
    height: 25px;
    margin-top: 1px;
    margin-left: 1px;
    margin-right: 2px;
}
.detailingEgr{
    width: 135px;
    padding-left: 3px;
    text-align: left;
}
.ingcajapeEgr{
    margin-left: 10px;
    width: 136px;
}
.ingbacopeEgr{
    margin-left: 10px;
    width: 136px;
}
.ingcheqpeEgr{
    margin-left: 10px;
    width: 136px;
}
.ingcajadolEgr{
    padding-left: 5px;
    width: 136px;
}
.ingbacodolEgr{
    padding-left: 0px;
    width: 136px;
}
.ingcomitdolEgr{
    padding-left: 5px;
    width: 136px;
}
.tcingEgr{
    width: 55px;
}
.ingtotaldolEgr{
    padding-left: 0px;
    width: 130px;
}
.ingtotalpeEgr{
    padding-left: 0px;
    width: 136px;
}
.tcingEgr button{
    border: 0px white solid;
    font-size: 14px;
    font-weight: bold;
}
.tcingEgr img{
    object-fit: cover;
    width:40%;
    height:40%;
}

