body{
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSvYvAQb7AyM66qWlGP7MIf76a6GlaT2ThpKQ&usqp=CAU');
}
.container{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 5px;
    margin-right: 5px;
}
.container input{
    width: 130px;
    margin-left: 2px;
    margin-right: 2px;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    background-color: grey;
    color: white;
}
.numberDetail{
    width: 130px;
    background-color: grey;
    border: 1px solid gray;
    height: 20px;
    margin-top: 1px;
    margin-left: 2px;
    margin-right: 2px;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    color: white;
}
#tcIng{
    width: 50px;
}

